@import "../../common/style/fonts.scss";
@import "../../common/style/variables.scss";


.header_container {
    display: flex;
    justify-content: space-between;
    margin-left: 56px !important;
    margin-right: 56px !important;
    margin-top: 34px !important;
    margin-bottom: 20px !important;
  
    .mykloud_logo {
      width: 150px;
      height: 54px;
      background-image: url(../../common/assets/myKloud_logo.png);
      background-repeat: no-repeat;
      background-size: 150px;
      cursor: pointer;
    }
  
    .right_side {
      width: 343.25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .right_text {
      font-size: 16px;
      line-height: 1.75;
      color: $text_color;
    }
  
    .signin_btn {
      width: 120px;
      height: 48px;
      border-radius: 6px;
      background-color: $primary_color_visa;
      border: solid 1px $primary_color;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.75;
      color: #1565d8;
      text-align: center;
      cursor: pointer;
    }
    :hover.signin_btn {
      background-color: rgba(100, 159, 219, 0.1);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  
    @media only screen and (max-width: 767px) {
      margin-left: 20px !important;
      margin-right: 20px !important;
      margin-bottom: -7px !important;
  
      .mykloud_logo {
        background-image: url(../../common/assets/logo-mob.png);
        background-size: 32px;
        width: 32.5px;
        height: 32px;
      }
  
      .right_side {
        width: auto;
      }
  
      .signin_btn {
        
        height: 20px;
        appearance: none !important;
        width: 84px;
        font-size: 14px;
        border: none;
        text-align: right !important;
      }
      .right_text {
        display: none;
      }
  
      
      .signin_btn:hover {
        background-color: white !important;
        color: #1565d8 !important;
        box-shadow: none !important;
      }
    }
}